:root {
    /*
    // Colors
    */
    --notification-success: #38a169;
    --notification-warning: #e53e3e;

    /*
    // Sizing
    */
    --notification-padding-y: 0.85em;
    --notification-padding-x: 1.2em;
    --notification-padding: var(--notification-padding-y) var(--notification-padding-x);

    /*
    // Icons
    */
    --notification-icon-size: 1.4em;
    --notification-icon-margin: 0.75em;

    /*
    // Appearance
    */
    --notification-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.08);
}


@media (--mobile) {
    :root {
        --notification-padding-x: 0.9em;
    }
}
