.notification-enter,
.notification-leave {
    transition: var(--normalTrans);
}

.notification-enter-start {
    opacity: 0;
    transform: scale(0);
}

.notification-enter-end {
    opacity: 1;
    transform: scale(1);
}

.notification-leave-start {
    opacity: 1;
    transform: scale(1);
}

.notification-leave-end {
    opacity: 0;
    transform: scale(0);
}

.notification {
    text-align: center;
}

.notification__inner {
    margin: 1em auto 0;
    padding: var(--notification-padding);
    color: #4a4a4a;
    position: relative;
    z-index: 100;
    box-shadow: var(--notification-shadow);
    font-size: 1.6rem;
    background-color: #fff;
    text-align: left;

    @media (--mobile) {
        text-align: center;
    }
}

.notification__icon {
    width: var(--notification-icon-size);
    height: var(--notification-icon-size);
    margin-right: var(--notification-icon-margin);
    flex-shrink: 0;

    &.success {
        color: var(--notification-success);
    }

    &.warning {
        color: var(--notification-warning);
    }
}

.notification__icon svg {
    width: 100%;
    height: 100%;
}

.notification__text {
    @media (--mobile) {
        line-height: 1.4;
    }
}

.notification__text a {
    color: var(--primaryColor);
    display: inline-block;
    
    &:hover {
        text-decoration: underline;
    }
}
