.shareButtonHolder {
    --dropdownWidth: 17rem;
    --dropdownMarginTop: 2.2rem;
    --dropdownBoxShadow: 0px 10px 30px 2px rgb(0 0 0 / 10%);
    --dropdownZIndex: 10;

    --linkIconSize: 2.4rem;
    --linkBorderColor: #f1f1f1;
    --linkPadding: 1.2rem 1.8rem;
    --linkFontSize: 1.5rem;
    --linkHoverBackgroundColor: #fafafa;

    --iconBgFacebook: #4e71a8;
    --iconBgLinkedin: #1686b0;
    --iconBgTwitter: #1cb7eb;
    --iconBgMail: #1d1d1b;
}

.shareButtonDropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    width: var(--dropdownWidth);
    margin-left: calc(var(--dropdownWidth) * -0.5);
    margin-top: var(--dropdownMarginTop);
    background-color: #fff;
    box-shadow: var(--dropdownBoxShadow);
    z-index: var(--dropdownZIndex);
}

.shareButtonDropdown::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 2.2rem solid transparent;
    border-right: 2.2rem solid transparent;
    border-bottom: 1.2rem solid #fff;
}

.shareButtonItem {
    border-bottom: 1px solid var(--linkBorderColor);

    &:last-child {
        border-bottom: 0;
    }
}

.shareButtonItem__link {
    padding: var(--linkPadding);
    font-size: var(--linkFontSize);
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;

    &:hover {
        background-color: var(--linkHoverBackgroundColor);
    }
}

.shareButtonIcon {
    width: var(--linkIconSize);
    height: var(--linkIconSize);
    border-radius: 99999px;
    padding: 0.5rem;
    flex-shrink: 0;
    color: #fff;
    margin-left: 1rem;

    &.facebook {
        background-color: var(--iconBgFacebook);
    }

    &.linkedin {
        background-color: var(--iconBgLinkedin);
    }

    &.twitter {
        background-color: var(--iconBgTwitter);
    }

    &.mail {
        background-color: var(--iconBgMail);
    }
}

.shareButtonIcon svg {
    width: 100%;
    height: 100%;
}