.radioButtons {
    --selectedColor: var(--primaryColor);
    --borderColor: #ddd;
    --iconSize: 2.2rem;
    --dotSize: 1rem;
    --borderSize: 2px;
    --marginY: 0.5rem;
    --marginX: 1rem;
    --labelMargin: 1rem;
    --labelFontSize: 1.8rem;

    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--marginY) * -1) calc(var(--marginX) * -1);
}

.radioButton {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin: var(--marginY) var(--marginX);
}

.radioButton__icon {
    width: var(--iconSize);
    height: var(--iconSize);
    background-color: #fff;
    border: var(--borderSize) solid var(--borderColor);
    border-radius: 99999px;
    margin-right: var(--labelMargin);
    flex-shrink: 0;
    position: relative;
    transition: var(--normalTrans);

    &::after {
        content: '';
        width: var(--dotSize);
        height: var(--dotSize);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: calc(var(--dotSize) * -0.5);
        margin-top: calc(var(--dotSize) * -0.5);
        background-color: var(--selectedColor);
        border-radius: 99999px;
        transition: var(--normalTrans);
        opacity: 0;
    }
}

.radioButton:hover .radioButton__icon,
.radioButton.isSelected .radioButton__icon {
    border-color: var(--selectedColor);
}

.radioButton.isSelected .radioButton__icon::after {
    opacity: 1;
}

.radioButton__label {
    font-size: var(--labelFontSize);
}