.select {
    position: relative;
}

.select__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.select__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select__iconsHolder {
    margin-left: 1rem;
}

.select__clear {
    margin-right: 0.5rem;
}

.select__clear,
.select__arrow {
    width: 2.2rem;
    height: 2.2rem;
    transition: var(--normalTrans);
}

.select__list {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    max-height: 36rem;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.select__item {
    padding: 1rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: var(--normalTrans);
}

.select.isOpen .select__arrow {
    transform: rotate(0.5turn);
}