.youtubePlayerDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    padding: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: youtubePlayerDialogAnimateIn 0.35s forwards;

    @media (--tablet) {
        padding: 4rem 6rem;
    }

    @media (--smallTablet) {
        padding: 3rem 4rem;
    }

    @media (--mobile) {
        padding: 5.5rem 0 4rem;
    }
}

.youtubePlayerDialog__overlay {
    background-color: #000;
    opacity: 0.8;
}

.youtubePlayerDialog__closeButton {
    --size: 5rem;

    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 3rem;
    right: 3rem;
    color: #fff;
    background-color: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (--smallTablet) {
        --size: 4rem;
        top: 3.5rem;
        right: 3.5rem;
    }

    &:hover {
        opacity: 0.5;
    }
}

.youtubePlayerDialog__closeButtonIcon {
    --size: 3rem;

    width: var(--size);
    height: var(--size);
}

.youtubePlayerDialog__inner {
    width: 166rem;
    max-width: 100%;
    overflow: auto;
}

.youtubePlayerDialog__inner .embedWrapper {
    max-height: 100%;
}

@keyframes youtubePlayerDialogAnimateIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}